/eval/
/fileTemplates/
/inspection/
/javascript/
/plugins/
/tasks/
IntelliLang.xml
debugger.xml
diff.xml
dimensions.xml
extensionsRootType.xml
feature.usage.statistics.xml
find.xml
git.xml
github_settings.xml
ide.general.xml
images.support.xml
laf.xml
markdown.xml
markdown_navigator.local.xml
markdown_navigator.shared.xml
multimarkdown.shared.xml
other.xml
plugin_ui.xml
recentProjectDirectories.xml
runner.layout.xml
security.xml
statistics.application.usages.xml
stubIndex.xml
ui.lnf.xml
updates.xml
usage.statistics.xml
web-browsers.xml
window.manager.xml
/port.lock
/port
/disabled_update.txt
