{
  "extends": [
    "eslint-config-standard",
    "plugin:react/recommended"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "curly": ["error", "all"],
    "brace-style": ["error", "stroustrup"],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": ["error", "always", { "objectsInArrays": false, "arraysInArrays": false } ],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "arrow-parens": ["error", "always"],
    "react/prop-types": "off",
    "react/jsx-wrap-multilines": "error",
    "react/no-unescaped-entities": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}
