{
  "extends": [
    "eslint-config-standard"
  ],
  "rules": {
    "indent": 0,
    "space-before-function-paren": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "standard/computed-property-even-spacing": 0
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "react-perf"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}
