{
  "extends": [
    "eslint-config-standard",
    "plugin:react/recommended"
  ],
  "rules": {
    "curly": ["error", "all"],
    "brace-style": ["error", "stroustrup"],
    "object-curly-spacing": ["error", "always"],
    "object-curly-newline": ["error", {"ObjectExpression": { "minProperties": 2 }, "ObjectPattern": "never"}],
    "object-property-newline": "error",
    "array-bracket-spacing": ["error", "always", { "objectsInArrays": false, "arraysInArrays": false } ],
    "array-bracket-newline": ["error", {"minItems": 3}],
    "array-element-newline": ["error", {"minItems": 3}],
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 2 }],
    "arrow-parens": ["error", "always"],
    "arrow-body-style": ["error", "as-needed"],
    "react/prop-types": "off",
    "react/jsx-first-prop-new-line": ["error", "never"],
    "react/jsx-max-props-per-line": ["error", { "maxium": 1 }],
    "react/jsx-wrap-multilines": "error",
    "react/no-unescaped-entities": "off"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  }
}
