[submodule ".config/sublime-text-3/Packages/Base16"]
	path = .config/sublime-text-3/Packages/Base16
	url = git://github.com/chriskempson/base16-textmate.git
[submodule ".bin/pacman-utils"]
	path = .bin/pacman-utils
	url = git@github.com:whatevsz/pacman-utils.git
[submodule ".config/inkscape/symbols/inkscape-open-symbols"]
	path = .config/inkscape/symbols/inkscape-open-symbols
	url = git@github.com:Xaviju/inkscape-open-symbols.git
