.Xauthority
.atom/
.bash_history
.cache/
.config/QtProject.conf
.dmenu_cache
.forever/
.gitkraken/
.gnome/
.lesshst
.local/
.node-gyp/
.npm/
.nv/
.pki/
.pm2/
.pulse-cookie
.rdm/
.smartgit/
.ssh/
.steam/
.steampath
.steampid
.subversion/
.viminfo
.wicd/
.node_modules/
Downloads/
logs/
/.node_repl_history
