.Xauthority
.atom/
.bash_history
.cache/
.config/QtProject.conf
.dmenu_cache
.forever/
.gitkraken/
.gnome/
.lesshst
.local/
.node-gyp/
.npm/
.nv/
.pki/
.pm2/
.pulse-cookie
.rdm/
.smartgit/
.ssh/
.steam/
.steampath
.steampid
.subversion/
.viminfo
.wicd/
.node_modules/
Downloads/
logs/
/.node_repl_history
/.kde4/
/.electron/
/.swt/
/.java/
/.gtk-bookmarks
/.tixati/
/.3T/
/.cmake/
/.android/
/.gradle/
/.AndroidStudio2.1/
/.CLion2016.1/
/.oracle_jre_usage/
/.AndroidStudioPreview2.2/
/.smartsvn/
/.fonts/
/.WebStorm2016.2/
/.CLion2016.2/
.gksu.lock
.docker/
.standard-cache/
.docker/
.smartgit/
.surf
.gist
.linphonerc
.config/wireshark
.linphone*
.mozilla
.yarnrc
**.tmp
.config/cmus
.config/Flavio Tordini/
.config/orion.application/
.thunderbird/
.python_history
.config/youtube-viewer/
.sdcv_history
.vim/backups
.gnupg
.config/nemo
.config/sublime-text-3/
.config/fish/conf.d/
.config/fish/fishd.xana
.config/fish/functions
.config/inkscape/
