[user]
	name = Vu Le
	email = thenewvu@gmail.com
[core]
	editor = nvim
	excludesfile = ~/.gitexcludes
[credential]
	helper = cache --timeout 360000
[pager]
    diff = diff-so-fancy | less -R --tabs=4
    log = diff-so-fancy | less -R --tabs=4
    show = diff-so-fancy | less -R --tabs=4
[interactive]
	diffFilter = diff-highlight
[gc]
	autoDetach = false
[pull]
	rebase = true
[log]
    date = relative
[diff]
	indentHeuristic = true
    wordRegex = [A-Z0-9]+|[A-Z0-9]?[a-z0-9]+|[^[:space:]]
	tool = vimdiff
	algorithm = patience
[difftool]
	prompt = false
[difftool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE
[merge]
	tool = nvim
[mergetool]
	prompt = false
[mergetool "nvim"]
	cmd = nvim -f -c \"Gvdiff\" \"$MERGED\"
[color]
	branch = auto
	diff = auto
	status = auto
    showbranch = auto
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = 11
	frag = 13
	old = 9
	new = 10
	commit = 13
	whitespace = 0
[color "status"]
	added = 10
	changed = 11
    untracked = 9
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    st = status --short
    ai = add -p
    dc = diff --cached
    cm = commit -m
[help]
	autocorrect = 50
[color "diff-highlight"]
    oldNormal = "#FEBFAB"
    oldHighlight = "#FEBFAB" "#a25588"
    newNormal = "#73FA75"
    newHighlight = "#73FA75" "#3d8b83"
