Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.font: xft:Inconsolata:size=8:style:Medium
URxvt.boldFont: xft:Inconsolata:size=8:style:Medium
URxvt.italicFont: xft:Inconsolata:size=8:style:Medium
URxvt.boldItalicFont: xft:Inconsolata:size=8:style:Medium

URxvt.letterSpace: -2
URxvt.saveLines: 65535

URxvt.scrollBar: false
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.scrollColor: #657B83

URxvt.cursorUnderline: false
URxvt.cursorBlink: false
URxvt.cursorColor: #3971ED

URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

URxvt.cutchars: ()*,<>[]{}|`""''
URxvt.perl-ext-common: default,tabbedex,matcher,selection-to-clipboard,searchable-scrollback

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 3
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]
URxvt.matcher.pattern.2: \\bhttps?:\/\/[\\w-.]*\/[\\w./?&@#-]*.(jpg|jpeg|png|webp)
URxvt.matcher.launcher.2: feh $0
URxvt.colorUL: 12

URxvt.tabbed.autohide: true
URxvt.tabbed.transparent:false
URxvt.tabbed.new-button:false
URxvt.tabbed.title:true
URxvt.tabbed.title-fg:12
URxvt.tabbed.title-bg:15
URxvt.tabbed.tabbar-fg: 0
URxvt.tabbed.tabbar-bg: 15
URxvt.tabbed.tab-fg: 12
URxvt.tabbed.tab-bg: 15


! Base16 Google
! Scheme: Seth Wright (http://sethawright.com)

#define base00 #1d1f21
#define base01 #282a2e
#define base02 #373b41
#define base03 #969896
#define base04 #b4b7b4
#define base05 #c5c8c6
#define base06 #e0e0e0
#define base07 #ffffff
#define base08 #CC342B
#define base09 #F96A38
#define base0A #FBA922
#define base0B #198844
#define base0C #3971ED
#define base0D #3971ED
#define base0E #A36AC7
#define base0F #3971ED

*.foreground:   base02
*.background:   base07
*.cursorColor:  base02

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
