Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.font: xft:Operator Mono:style=Book:pixelsize=18,xft:Iosevka:style=Regular:pixelsize=18
URxvt.boldFont: xft:Operator Mono:style=Book:pixelsize=18,xft:Iosevka:style=Regular:pixelsize=18
URxvt.italicFont: xft:Operator Mono:style=Book:pixelsize=18,xft:Iosevka:style=Regular:pixelsize=18
URxvt.boldItalicFont: xft:Operator Mono:style=Book:pixelsize=18,xft:Iosevka:style=Regular:pixelsize=18
URxvt.letterSpace: -2
URxvt.lineSpace: 0
URxvt.buffered: true

URxvt.geometry: 120x24
URxvt.saveLines: 1000

URxvt.scrollBar: false
URxvt.scrollstyle: plain
URxvt.scrollBar_right: true
URxvt.scrollColor: #657B83

URxvt.cursorUnderline: false
URxvt.cursorBlink: false
URxvt.cursorColor: #3971ED

URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

URxvt.cutchars: ()*,<>[]{}|`""''

URxvt.fading: 30

! special
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc342b
*.color9:       #cc342b

! green
*.color2:       #198844
*.color10:      #198844

! yellow
*.color3:       #fba922
*.color11:      #fba922

! blue
*.color4:       #3971ed
*.color12:      #3971ed

! magenta
*.color5:       #a36ac7
*.color13:      #a36ac7

! cyan
*.color6:       #3971ed
*.color14:      #3971ed

! white
*.color7:       #c5c8c6
*.color15:      #ffffff
