/0ad/
/Atom/
/menus/
/pulse/
/redisdesktop/
/robomongo/
/gtk-2.0/
/google-chrome/
/GitKraken/
/gconf/
/dconf/
/configstore/
/cef_user_data/
/libreoffice/
/Trolltech.conf
/vlc/
/Electron/
/mimeapps.list
/obs-studio/
/powder-player/
/unity3d/
/Paralect/
/uGet/
/htop/
/blender/
/skypeforlinux/
/Powder-Player/
/fisherman/
